/*-----------------------------------*/
/*------>>> COLOR PALETTE <<<--------*/
/*-----------------------------------*/

.bd-text-green {
	color: #28a745;
}

.bg-green {
	background-color: #28a745;
}

.bg-white {
	background-color: #ffffff;
}

/*-----------------------------------*/
/*---------->>> GLOBAL <<<-----------*/
/*-----------------------------------*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 178px; /* margin-bottom: <footer height> */
}

h1 {
	font-size: 2.5rem;
	text-align: center;
}

h3 {
  font-size: 1.65rem;
}

/*-----------------------------------*/
/*------>>> PAGE STRUCTURE <<<-------*/
/*-----------------------------------*/



/*-----------------------------------*/
/*---------->>> HEADER <<<-----------*/
/*-----------------------------------*/

.navbar {
	position: fixed;
	width: 100vw;
	z-index: 1000;
}

#nav-img {
	width: 36px;
}

/*-----------------------------------*/
/*----------->>> MAIN <<<------------*/
/*-----------------------------------*/

.bd-masthead {
	padding: calc(3rem + 62px) 15px 3rem 15px; /* 62px = navbar height */
}

.dropdown-item.active { /* Resources dropdown menu */
  font-weight: 500;
  color: #212529;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: .4rem .6rem;
  background-size: .75rem .75rem;
}

.contact-container {
	max-width: 800px;
}

.container-fluid {
	padding-top: 62px; /* 62px = navbar height */
}

.error { /* Contact form */
	color: red;
}

.form-area {
	max-width: 400px;
	margin: auto;
}

.form-area > form > .d-flex > button {
	width: 150px;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, .25);
}

.half-rule {
	margin: 2.5rem 0;
	width: 6rem;
}

.alert-message-box {
	border: 1px solid #eee;
	border-radius: 3px;
  margin-bottom: 2rem;
}

.alert-message-text {
	padding-left: 30px;
}

.success { /* Contact form */
	color: green;
}

.information-message {
	border-left: 0.25rem solid #007bff; /* Bootstrap's $primary */
  padding: 15px 15px 0 15px;
}

.warning-message {
	border-left: 0.25rem solid #dc3545; /* Bootstrap's $red */
  padding: 15px 15px 0 15px;
}

/*-----------------------------------*/
/*---------->>> FOOTER <<<-----------*/
/*-----------------------------------*/

.footer {
  background-color: #f7f7f7;
  bottom: 0;
  font-size: 85%;
  height: 178px; /* Set the fixed height of the footer here */
  padding: 15px;
  position: absolute;
  width: 100%;
}

.footer > .container {
  padding: 0;
}

.footer > .container > div > div > p {
	margin: 0;
}

#footer-charity-logo {
	flex-grow: 0; /* To keep the div the size of the img */
}

#img-charity-logo {
	width: 100px;
}

.text-tiny {
	font-size: 75%;
}

/*-----------------------------------*/
/*---------->>> OTHER <<<------------*/
/*-----------------------------------*/

.alert-message-icon { /* FontAwesome icons */
	padding-top: 6px;
	position: absolute;
}

/*-----------------------------------*/
/*------->>> MEDIA QUERIES <<<-------*/
/*-----------------------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	body {
		margin-bottom: 178px;
	}

	.bd-masthead {
		padding: calc(5rem + 62px) 15px 5rem 15px; /* 62px = navbar height */
	}

	h1 {
		font-size: 3.5rem;
	}

  .alert-message-box {
    margin-bottom: 4rem;
  }

  h3 {
    font-size: 1.75rem;
  }

	.footer {
		height: 178px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header > div {
		font-size: 0.875rem;
	}

	h1 {
		font-size: 4rem;
		text-align: left;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header > div {
		font-size: 1rem;
	}
}

/* Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) {
		...
	}
*/