/*-----------------------------------*/
/*------>>> COLOR PALETTE <<<--------*/
/*-----------------------------------*/

.bd-text-green {
	color: #28a745;
}

.bg-green {
	background-color: #28a745;
}

.bg-white {
	background-color: #ffffff;
}

/*-----------------------------------*/
/*---------->>> GLOBAL <<<-----------*/
/*-----------------------------------*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 210px; /* margin-bottom: <footer height> */
}

h1 {
	font-size: 2.5rem;
	text-align: center;
}

/*-----------------------------------*/
/*------>>> PAGE STRUCTURE <<<-------*/
/*-----------------------------------*/



/*-----------------------------------*/
/*---------->>> HEADER <<<-----------*/
/*-----------------------------------*/

.navbar {
	position: fixed;
	width: 100vw;
	z-index: 1000;
}

#nav-img {
	width: 36px;
}

/*-----------------------------------*/
/*----------->>> MAIN <<<------------*/
/*-----------------------------------*/

.bd-masthead {
	padding: calc(3rem + 62px) 15px 3rem 15px; /* 62px = navbar height */
}

.dropdown-item.active { /* Resources dropdown menu */
  font-weight: 500;
  color: #212529;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: .4rem .6rem;
  background-size: .75rem .75rem;
}

.container-fluid, #form-container {
	padding-top: 62px; /* 62px = navbar height */
}

.error { /* Contact form */
	color: red;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, .25);
}

.half-rule {
	margin: 2.5rem 0;
	width: 6rem;
}

.success { /* Contact form */
	color: green;
}

/*-----------------------------------*/
/*---------->>> FOOTER <<<-----------*/
/*-----------------------------------*/

.footer {
  background-color: #f7f7f7;
  bottom: 0;
  font-size: 85%;
  height: 210px; /* Set the fixed height of the footer here */
  padding: 15px;
  position: absolute;
  width: 100%;
}

.footer > .container {
  padding: 0;
}

#footer-copyright > p {
	margin: 0;
}

#footer-charity-logo {
	flex-grow: 0; /* To keep the div the size of the img */
}

#img-charity-logo {
	width: 100px;
}

/*-----------------------------------*/
/*---------->>> OTHER <<<------------*/
/*-----------------------------------*/



/*-----------------------------------*/
/*------->>> MEDIA QUERIES <<<-------*/
/*-----------------------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	body {
		margin-bottom: 190px;
	}

	.bd-masthead {
		padding: calc(5rem + 62px) 0 5rem 0; /* 62px = navbar height */
	}

	h1 {
		font-size: 3.5rem;
	}
	
	.footer {
		height: 190px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header > div {
		font-size: 0.875rem;
	}

	h1 {
		font-size: 4rem;
		text-align: left;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header > div {
		font-size: 1rem;
	}
}

/* Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) {
		...
	}
*/