/*-----------------------------------*/
/*------>>> COLOR PALETTE <<<--------*/
/*-----------------------------------*/

.bd-text-green {
	color: #28a745;
}

.bg-green {
	background-color: #28a745;
}

.bg-white {
	background-color: #ffffff;
}

/*-----------------------------------*/
/*---------->>> GLOBAL <<<-----------*/
/*-----------------------------------*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 170px; /* Margin bottom by footer height */
  padding-top: 3.5rem; /* Move down content because we have a fixed navbar that is 3.5rem tall */
}

h1 {
		font-size: 2.5rem;
		text-align: center;
	}

/*-----------------------------------*/
/*------>>> PAGE STRUCTURE <<<-------*/
/*-----------------------------------*/



/*-----------------------------------*/
/*---------->>> HEADER <<<-----------*/
/*-----------------------------------*/

#nav-img {
	width: 36px;
}

/*-----------------------------------*/
/*----------->>> MAIN <<<------------*/
/*-----------------------------------*/

.bd-masthead {
	padding: 3rem 15px;
}

/*-----------------------------------*/
/*---------->>> FOOTER <<<-----------*/
/*-----------------------------------*/

.footer {
  background-color: #f7f7f7;
  bottom: 0;
  font-size: 85%;
  height: 170px; /* Set the fixed height of the footer here */
  /* line-height: 60px; /* Vertically center the text there */
  padding: 15px;
  position: absolute;
  width: 100%;
}

.footer > .container {
  padding: 0;
}

#footer-copyright > p {
	margin: 0;
}

#footer-charity-logo {
	flex-grow: 0; /* To keep the div the size of the img */
}

#img-charity-logo {
	width: 100px;
}

/*-----------------------------------*/
/*---------->>> OTHER <<<------------*/
/*-----------------------------------*/



/*-----------------------------------*/
/*------->>> MEDIA QUERIES <<<-------*/
/*-----------------------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	body {
		margin-bottom: 150px;
	}

	.bd-masthead {
		padding: 5rem 0 5rem 0;
	}

	h1 {
		font-size: 3.5rem;
	}
	
	.footer {
		height: 150px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header > div {
		font-size: 0.875rem;
	}

	h1 {
		font-size: 4rem;
		text-align: left;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header > div {
		font-size: 1rem;
	}
}

/* Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) {
		...
	}
*/